<p>Olá <%= @resource.email %>!</p>

<p>Algúem solicitou um link para mudar sua senha. Você pode fazer isto, acessando o link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez esta solicitação, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.</p>
