<div class="panel collapse" id=collapse1> 
<div class="panel-heading"><strong> Consulta  </strong></div>
<div class="panel-body">
<%= form_tag( ramo_ativs_path, method: "get",  :class => "form-inline") do %>
<div class="col-md-4">
    <%= label_tag(:pramo, "Ramo de Atividade:") %>
    <%= text_field_tag( :pramo, @pramo, size: 20, class:'form-control') %>
</div>
<div class="col-md-2">
    <%= submit_tag "Filtrar" , class: "btn btn-success", style: 'position: relative; bottom: -27px;' %>
</div>  
<% end %>

</div>
</div>