<div class="panel "> 
<div class="panel-heading"><strong> Apagar dados Cadastrais </strong></div>
<div class="panel-body">
  <%= link_to ' TODOS',  deletar_excluidos_path, method: "delete" , :class =>"btn btn-danger btn3d glyphicon glyphicon-remove"%>
</div>
</div>

