<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @relatorio_login.email %>
</p>

<%= link_to 'Edit', edit_relatorio_login_path(@relatorio_login) %> |
<%= link_to 'Back', relatorio_logins_path %>
